<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="my-3">
                    <div class="fw-bold mb-2">
                        <a class="text-decoration-none" href="https://g.co/kgs/yHmYsBL" target="_blank">
                            <i class="bi bi-geo-alt-fill text-danger"></i>
                        </a>
                        Lokasi Kantor :
                    </div>
                    <div class="mb-3">
                        <a class="text-dark text-decoration-none" href="https://goo.gl/maps/s5wKAGkWBXkgAu139"
                            target="_blank">
                            Jl. Datu Nuraya, Kawasan Rantau Baru, Kelurahan Rantau Kiwa, Kecamatan Tapin Utara (71111),
                            Kabupaten Tapin, Kalimantan Selatan
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="my-3">
                    <div class="fw-bold mb-2">Sosial Media :</div>
                    <div>
                        <a href="https://www.facebook.com/disdukcapiltapin" target="_blank"><i
                                class="bi bi-facebook me-2 fs-5 text-primary"></i></a>
                        <a href="https://www.instagram.com/disdukcapiltapin" target="_blank"><i
                                class="bi bi-instagram me-2 fs-5 text-secondary"></i></a>
                        <a href="https://www.youtube.com/c/DukcapilKabupatenTapin" target="_blank"><i
                                class="bi bi-youtube me-2 fs-5 text-danger"></i></a>
                        <a href="https://www.tiktok.com/@dinasdukcapiltapin" target="_blank"><i
                                class="bi bi-tiktok me-2 fs-5 text-dark"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="my-3">
                    <div class="fw-bold mb-2">Layanan Pengaduan :</div>
                    <div class="mb-2">
                        <a href="https://wa.me/6281395607482" target="_blank" class="text-decoration-none">
                            <i class="bi bi-whatsapp text-success"></i>
                            <span class="text-dark mx-1">0811-511-3141 (WhatsApp)</span>
                        </a>
                    </div>
                    <div class="mb-2">
                        <i class="bi bi-envelope text-danger"></i>
                        <span class="text-dark mx-1">pengaduan@dukcapil.tapinkab.go.id</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="my-3">
                    <ul class="list-group list-group-horizontal small ">
                        <li class="list-group-item rounded-0">
                            <div class="fw-bold mb-1">Jam Kerja</div>
                            <div class="d-flex small">
                                <div>
                                    Senin s.d Kamis <br>
                                    07.30 - 17.00 Wita
                                </div>
                                <div class="ms-3">
                                    Jum'at <br>
                                    07.30 - 11.00 Wita
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item rounded-0">
                            <div class="fw-bold mb-1">Jam Pelayanan</div>
                            <div class="d-flex small">
                                <div>
                                    Senin s.d Kamis <br>
                                    08.00 - 16.00 Wita
                                </div>
                                <div class="ms-3">
                                    Jum'at <br>
                                    08.00 - 11.00 Wita
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/suggest.js"></script>